.unity-button {
    padding: 5px;
    display: flex;
    overflow: hidden;
    font-size: 12px;
    color: white;
    background-color: transparent;
    border-width: 2px;
    border-radius: 18px;
    border-color: white;
    margin: 5px 12px;
    -unity-font-style: bold;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    width: 152px;
    background-image: url('project://database/Assets/BanterUnitySDK/Editor/UI/Components/TooltipTooltip.png?fileID=2800000&guid=6a9727ea4cddf704d98c5a7cc361fb55&type=3#TooltipTooltip');
    height: 45px;
}

.unity-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px white;
}

.unity-button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.unity-button {
    cursor: initial;
}
